head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Urban Farmer details
  link(rel='stylesheet', type='text/css', href='../css/style.css')
.container
  header
    h1#title MASSAJJA URBAN FARMER INITIATIVE
  #form-wrapper
    form#register-form(action='/farmerOne/update/?id='+farmerone._id name='farmeroneupdate' method='post')
      .container2
        .padding.width
          select#role(name='role')
            option(value='role') role
            |                 &gt;
            option(value='FarmerOne' selected = farmerone.role === "FarmerOne") FarmerOne
      .padding
        input#datetoday.form-control-2(type='date', name='datetoday', placeholder='date' value=farmerone.datetoday)
      .padding
        input#names.form-control-2(type='text', name='names', placeholder='Fullname' value=farmerone.names)
      .padding
        input#dateofbirth.form-control-2(type='date', name='dateofbirth', placeholder='dateOfBirth' value=farmerone.dateofbirth)
      .container2
        .padding
          select#ward(name='ward')
            option(value='select your Ward') Select Ward
            |                 &gt;
            option(value='WardA' selected = farmerone.ward === "WardA") Ward A
            option(value='wardB' selected = farmerone.ward === "WardB") ward B
            option(value='wardC' selected = farmerone.ward === "WardC") ward C
            option(value='wardD' selected = farmerone.ward === "WardD") ward D
        .padding
          select#dropdown(name='gender')
            option(value='select your Gender') Select Gender
            |                 &gt;
            option(value='Male' selected = farmerone.gender === "Male") Male
            option(value='Female' selected = farmerone.gender === "Female") Female
            option(value='Secret' selected = farmerone.gender === "Secret") Secret
        .padding
          select#activity(name='activity')
            option(value='select activity') Activity done
            |                 &gt;
            option(value='Dairy' selected = farmerone.activity === "Dairy") Dairy
            option(value='Poultry' selected = farmerone.activity === "Poultry") Poultry
            option(value='Hoticulture' selected = farmerone.activity === "Hoticulture") Hoticulture
        .padding
          input#username.form-control-2.form-float.width2(type='text', name='username', placeholder='User name' value=farmerone.username)
      .container3
        .padding
          input#foid.form-control-2(type='text', name='foid', placeholder='FO Id' value=farmerone.foid)
        .padding
          input#nid.form-control(type='text', name='nid', placeholder='NIN' value=farmerone.foid)
        .padding
          input#phone.form-control-2(type='text', name='phone', placeholder='Phone' value=farmerone.phone)
        .padding
          input#password.form-control-2.form-float(type='text', name='password', placeholder='Password' value=farmerone.password)
      .padding
        input#address.form-control-2.form-float(type='text', name='address', placeholder='Adress' value=farmerone.address)
      p.null-field
      button#submit(type='submit') Register
  p.copyright
    | &copy; Massajja Ubarn farmer initiative. All rights reserved!
  script(src='/validate.js')
